*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins','sans-serif';
}
body{
    background-color: #222;
}

#card{
    width: 90%;
    max-width: 470px ;
     background: linear-gradient(135deg,#00feba,#5b548a);
     color: #fff;
     text-align: center;
     margin: 100px auto 0;
     border-radius:20px;
     padding:40px 35px;   
}
 .search{
    display: flex;
    align-items: center;
    justify-content: space-between;
     width: 100%;
 }
 .search input{
    border: 0;
    outline:0;
    background-color: #ebfffc;
    color:#555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex:1;
    margin-right:16px;
    font-size: 18px;
}
.search button {
    border: none;;
    outline:0;
    background-color: #ebfffc;
    border-radius: 50%;
     cursor:pointer;
    height: 60px;
    width:60px;
}
.search-button:hover{
    background-color: #dfdada;
}

.search button img{
    width:16px;
}

.Weather-icon{
    width:170px;
    margin-top: 30px;
    background-color: transparent;

}
.temp{
    font-size: 80px;
    font-weight: 500;
}
.city{
    font-size: 40px;
    font-weight: 400;
    margin-top: -10px;
}
.details{
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 0 20px;
    margin-top:50px;
}
.col{
    display:flex;
    text-align: left;
    align-items: center;

}
.col img{
    width: 40px;
    margin-right:10px;
}
.humidity , .Wind {
    font-size: 28px;
    margin-top:-6px;
}
.weather{
    display: none;
}
.error{
    display: none;
    font-size: 14px;
    margin-top: 10px;
}

 


